= title t('.title')
= paginate @posts, theme: 'bootstrap-5'
- @posts.includes(:user).find_each(order: :desc) do |post|
  .card.my-2
    .card-body
      .d-flex.justify-content-between
        = link_to post.user.name, ''
        = l(post.created_at)
      %p.mb-0= post.body
= paginate @posts, theme: 'bootstrap-5'
