.navbar.bg-dark.navbar-expand-lg{ 'data-bs-theme': 'dark' }
  .container-fluid
    = link_to '改ブログ', root_path, class: 'navbar-brand'
    %button.navbar-toggler{'aria-controls': 'navbarNavDropdown', 'aria-expanded': 'false', 'aria-label': 'Toggle navigation','data-bs-target': '#navbarNavDropdown', 'data-bs-toggle': 'collapse', type: 'button'}
      %span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse
      %ul.navbar-nav.ms-auto
        - if user_signed_in?
          %li.nav-item.dropdown
            = link_to current_user.name, '#', class: 'nav-link dropdown-toggle', 'aria-expanded': 'false', 'data-bs-toggle': 'dropdown', role: 'button'
            %ul.dropdown-menu.dropdown-menu-sm-end
              %li= link_to t('devise.registrations.edit.title'), edit_user_registration_path, class: 'dropdown-item'
              %li= link_to t('devise.sessions.destroy.title'), destroy_user_session_path, class: 'dropdown-item', data: { turbo_method: :delete }
        - else
          %li.nav-item
            = link_to t('devise.sessions.new.title'), new_user_session_path, class: 'nav-link'
